
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.hero p{
color: black;
}
h1,h2{
    padding: 5px;
    color: green;
}
p{
    padding: 0px;
    
}
.sociallinks a img{
    text-decoration: none;
    width: 25px;
    height: auto;
    padding: 5px;
    float: left;
    margin-left: 0%;
}
body{
    width: 100%;
}
.hero{
    position: relative;
    background-image: url(images/p1.jpg);
   
}
.hero img{
    display: block;
    width: 22%;
    height: auto;
    float: right;

}
.hero h1{
    position: absolute;
}
.hero article{
    position: absolute;
}
article img{
    width: 25px;
    height: auto;
    float: right;
}

article{
    background-color:azure;
    position: absolute;
}
header {
    overflow: hidden; 
    background-color: #f8f9fa; 
    padding: 10px 20px; 
}

header img {
    float: left;
    height: auto; 
    padding-right: 20px; 
    padding-left:50px ;
}

nav {
    float: right; 
}

nav a {
    margin-left: 200px;
    text-decoration: none; 
    color: #333; 
}

nav a:hover {
    color: #0056b3;
}
h1{
    position: absolute;
}
section{
    margin-top: 200px;
}
section img{
    width: 400px;
    margin-top: 20px;
}
footer img{
    padding: 5px;
    float: left;
    margin-left: 0px;
}