@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #dee2e6;
    --secondary-color: #eddea4; /* Fixed typo 'seconmdary' and removed duplicate accent1-color */
    --accent-color: #f7a072;
    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto', serif;
    --nav-background-color: #dde5b6;
    --nav-link-color: #004e98;
    --nav-hover-link-color: #a8dadc;
    --nav-hover-background-color: #e0e1dd;
}

body {
    font-family: var(--paragraph-font);
    max-width: 100%;
    padding: 20px;
    background-image: url('images/p1.jpg');
    background-size: cover;
    background-position: center;
}

footer h1 {
    text-align: center;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
}

nav a {
    display: inline-block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 0.7rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.images img, img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 150px;
    left: 600px;
    right: 15px;
    bottom: 0px;
    width: 40%;
    height: 200px;
    background-color: gray; /* Semi-transparent gray background */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay p {
    margin-bottom: 0px;
    padding-top: 2px;
}

b {
    color: white;
    font-size: 25px;
}

footer {
    margin-bottom: 0px;
}

.overlay a {
    display: inline-block;
    background-color: #f7a072;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 2px;
}

.overlay a:hover {
    background-color: #e58e62;
}
